@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --color1: #F9F8F8;
  --color2: #60AB9A;
  --color3: #DC0D2C;
  --color4: #191919;
  --color5: #B118C8;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 650;
  background-color: var(--color1);
}

.main-container {
  display: flex;
  flex-direction: row;
}

.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30vh;
  height: 100vh;
  background-color: var(--color3);
  border-right: 0.4vh solid var(--color4);
}
a {
  background-color: var(--color3);
  border-radius: 0.5vh;
  padding: 1vh 1vh;
  text-decoration: none;
  color: var(--color1);
  transition: 0.3s ease;
  margin-block: 2vh;
}
.rimg {
  max-width: 20vh;
  height: auto;
}
a:hover {
  background-color: #840014;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pi {
  display: flex;
  width: 90vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.line {
  width: 80vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
